{% extends "base.html" %}

{% block title %}
VK: Cool Stuff
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a class="current" href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>This page contains various cool things.</p>
{% endblock %}

{% block main %}

<p>My cool stuff page.</p>

<p>Click <a href="./randomplot.png" target='_blank'>here</a> to generate a random graph using matplotlib.</p>

<p><a href="./error">This raises an error.</a></p>
{% endblock %}
