<head>
    <meta name="author" content="Vincent Knight" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content="Letter of recommendation written by {{letter.author}} for {{letter.name}}">
    <meta name="keywords" content="Mathematics, Math, Maths, Cardiff, Game Theory, Queueing Theory, Queuing Theory, Operational Research, Operations Research, OR, Python, Sage, MathEd, Google Plus, Letter of recommendation, {{letter.name}}, {{letter.author}}, {{letter.target}}">
    <title>Letter of recommendation for {{letter.name}}</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38016329-3', 'vincent-knight.com');
  ga('send', 'pageview');

</script>

{{letter.content|safe}}

<p><a href='/coolstuff/lettersofrecommendation'>Home</a>
{% if letter.url %}
<a href='{{letter.url}}' target='_blank'>Source</a>
{% endif %}
{% if letter.pdf %}
<a href='{{letter.pdf}}' target='_blank'>pdf</a>
{% endif %}</p>
