{% extends "disqusbase.html" %}

{% block description %} A page describing the components of my self build {{pc.name}} {% endblock %}

{% block keywords %} Self build, PC components {% endblock %}

{% block title %}
VK: PC - {{pc.name}}
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a class="current" href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>The components for my self build called {{pc.name}}</p>
{% endblock %}

{% block main %}

{{description|safe}}

{% endblock %}

{% block disqusid %} "pcs-{{pc.name}}"; {% endblock %}
