{% extends "base.html" %}

{% block title %}
VK: Outreach
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a class="current" href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>These are my outreach pages.</p>
{% endblock %}

{% block main %}

{% if activities %}
<p>
    <ul>
        {% for activity in activities %}
            <li><a href='./{{activity.slug}}'>{{activity.title}}</a>: {{activity.description}}</li>
        {% endfor %}
    </ul>
</p>
{% endif %}

<p>I am yet to fully update the content for this from my old site. Take a look <a href="https://sites.google.com/site/vincentknight/home/outreach" target="_blank">here</a>. </p>

{% endblock %}
