{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />


<head>
	<meta name="author" content="www.vincent-knight.com" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Vince Knight</title>
</head>
<body>
	<div id="content">
		<h1><span class="hr">Vince Knight</h1>
		<ul id="top">
			<li><a class="current" href="#">Home</a></li>
			<li><a href="#">Teaching</a></li>
			<li><a href="#">Research</a></li>
			<li><a href="#">Outreach</a></li>
			<li><a href="#">Cool Stuff</a></li>
		</ul>

		<div id="intro">
			<p>I am a lecturer in Operational Research at Cardiff University with research interests in Game theory and Queueing theory applied to healthcare systems.</p>
		</div>

		<div id="main">

			<h2><a href="#">Teaching</a></h2>
			<h3>"That student is taught the best who is told the least." Moore.</h3>
			<p>Resources for my students and information for colleagues can be found here.
            </p>
            <ul>
                <li>Computing for Mathematics</li>
                <li>Game Theory</li>
                <li>OR Methods</li>
                <li>Advanced Statistical Packages</li>
            </ul>
			<br />

			<h2><a href="#">Research</a></h2>
			<h3>"Selfish users make busier systems" </h3>
            <p>My latest paper is here...</p>
			<br />

			<h2><a href="#">Outreach</a></h2>
			<h3>Mathematics is cool. </h3>
            <br><br />
            {% if latest_video_list %}
                <p>Here is my latest video:</p>
                <iframe width="560" height="315" src={{ latest_video_list.0.url }} frameborder="0" allowfullscreen></iframe>
                <p>Here are my last {{latest_video_list|length|add:"-1"}} videos:</p>
                <ul>
                {% for video in latest_video_list|slice:"1:" %}
                    <li><a href="{{video.url}}", target="_blank">{{ video.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No videos are available.</p>
            {% endif %}
			<br />


        </div>
		<div id="left">
			<h3>Social Media</h3>
			<ul>
				<li><a href="https://plus.google.com/+VincentKnight/posts", target="_blank">G+: +Vincent Knight</a></li>
				<li><a href="http://www.youtube.com/user/DrVinceKnight/", target="_blank">YouTube: +Vincent Knight</a></li>
				<li><a href="https://github.com/drvinceknight", target="_blank">Github: drvinceknight</a></li>
				<li><a href="http://drvinceknight.blogspot.co.uk/", target="_blank">My blog: Un peu de math</a></li>
				<li><a href="https://twitter.com/drvinceknight", target="_blank">Twitter: @drvinceknight</a></li>
			</ul>
            <br /><br />

			<h3>Latest Commits (this page is pushed here)</h3>
            {% if latest_commits %}
                <ul>
                {% for commit in latest_commits %}
                    <li>{{ commit }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No commits are available.</p>
            {% endif %}
		</div>

		<div id="footer">
			<p>Design for this website by Vince Knight based on a design by: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a></p>
		</div>
	</div>
</body>
</html>
