{% extends "base.html" %}

{% block main %}

    <h2><a href="/teaching">Teaching</a></h2>
    {% if current_course_list %}
        <p>Here are courses I am currently teaching:
        <ul>
        {% for course in current_course_list %}
            <li><a href="{{course.url}}", target="_blank">{{ course.title }}</a></li>
        {% endfor %}
        </ul>
        </p>
    {% else %}
        <p>I am not currently teaching any courses.</p>
    {% endif %}
    {% if upcoming_course_list %}
        <p>Here are courses I will be teaching shortly:</p>
        <ul>
        {% for course in upcoming_course_list %}
            <li><a href="{{course.url}}", target="_blank">{{ course.title }}</a>, starting: {{course.start_date|date:"Y-m-d-H:i"}}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <p>A full list of all my courses can be found <a href="/teaching">here</a></p>

    <h2><a href="/research">Research</a></h2>
    {% if latest_paper_list %}
    <p>Here is a list of my latest papers (click on the title to see the abstract and any other material):
        <ul>
        {% for paper in latest_paper_list  %}
            {% if paper.paperurl %}
                <li> <a href="/research/{{ paper.id }}">{{ paper.title }}</a>  in <a href="{{paper.paperurl}}", target="_blank"> {{paper.journal}} {% if paper.openaccess %} (Open access) {% endif %} </a></li>
            {% else %}
                <li>  {{paper.title}} in {{paper.journal}} {% if paper.openaccess %} (Open access) {% endif %} </li>
            {% endif %}
        {% endfor %}
        </ul>
    </p>
    {% endif %}
    <p>A full list of all my papers can be found <a href="/research/publicationlist.html">here</a></p>
    {% if current_project_list %}
    <p>Here are some projects I am currently working on:
        {% for project in current_project_list %}
            <li> <a href="/research/projects/{{ project.id }}">{{ project.title }}</a>  </li>
        {% endfor %}

    </p>

    {% endif %}

    <h2><a href="/outreach">Outreach</a></h2>
    <h3><a href='http://drvinceknight.blogspot.co.uk' target='_blank'>Blog</a></h3>
    {% if latest_blog_post_list %}
        <p>Here is my latest blog post at <a href='http://drvinceknight.blogspot.co.uk' target='_blank'>Un peu de math</a>:</p>
        <p><strong><a href='{{ latest_blog_post_list.0.url }}' target='_blank'>{{latest_blog_post_list.0.title}}</a>:</strong> {{latest_blog_post_list.0.description}}</p>
        <p>Here are my previous {{latest_blog_post_list|length|add:"-1"}} posts:
        <ul>
        {% for post in latest_blog_post_list|slice:"1:" %}
            <li><a href="{{post.url}}", target="_blank"><span title="{{post.description}}">{{ post.title }}</span></a></li>
        {% endfor %}
        </ul>
        </p>
    {% else %}
        <p>No blog posts are available.</p>
    {% endif %}
    <h3><a href='http://www.youtube.com/channel/UCJoZNbN4ziZBIfzC1zjuHYA' target='_blank'>YouTube Channel</a></h3>
    {% if latest_video_list %}
        <p>Here is my latest video on YouTube:</p>
        <iframe width="560" height="315" src="http://www.youtube.com/embed/{{ latest_video_list.0.youtubeid }}" frameborder="0" allowfullscreen></iframe>
        <br></br>
        <p>Here are my previous {{latest_video_list|length|add:"-1"}} videos:
        <ul>
        {% for video in latest_video_list|slice:"1:" %}
            <li><a href="{{video.url}}", target="_blank">{{ video.title }}</a></li>
        {% endfor %}
        </ul>
        </p>
    {% else %}
        <p>No videos are available.</p>
    {% endif %}
    <br />

<p>(A list of useful links can be found <a href="/coolstuff/usefullinks.html">here</a>)</p>

{% endblock %}
