{% extends "disqusbase.html" %}

{% block description %}
{{post.description}}
{% endblock %}

{% block keywords %}
    {{post.keywords}}
{% endblock %}

{% block bigtitle %} Un peu de math {% endblock %}

{% block title %}
Un peu de math: {{post.title}}
{% endblock %}

{% block menu %}
            <li><a href="/unpeudemath">Home</a></li>
            <li><a href="/unpeudemath/latestpost/">Latest post</a></li>
            <li><a href="/">Personal Website</a></li>
{% endblock %}

{% block oldsite %}
<p>I have moved my old blog from <a href="http://drvinceknight.blogspot.co.uk/">drvinceknight.blogspot.co.uk/</a> to here so if you are looking for some of my old posts try there...</p>
{% endblock %}

{% block intro %}
<p><strong>{{post.title}}</strong> <em>posted on</em> <time datetime="{{post.created|date:"c"}}"> {{post.created|date}}</p>
{% endblock %}

{% block main %}
{{post.content|safe}}
{% endblock %}

{% block disqusid %} "{{post.id}}"; {% endblock %}
