{% extends "teaching/index.html" %}

{% block description %} This page contains various items that describe a methodology for assigning fair individual marks to groups based on the Game Theoretic concept of the Shapley value.{% endblock %}

{% block keywords %} Pedagogy, Game Theory, Shapley Value, Fair marks, Individuals {% endblock %}

{% block title %}
VK: Fair Marks
{% endblock %}


{% block intro %}

<p>A methodology for assigning fair marks to individuals in a group project.</p>

{% endblock %}

{% block main %}

<p>Here are the various resources relating to ongoing work on using cooperative game theory to assign fair individual marks to group projects.

<ul>
	<li><a href="http://drvinceknight.github.io/Assigning_Fair_Individual_Marks_To_Group_Projects" target="_blank">Slides</a></li>
	<li><a href="https://docs.google.com/spreadsheet/ccc?key=0Ah_zrw5uAafbdFBfVmdyUUZweXhFNTRTWGlSOXlKNUE#gid=1" target="_blank">Spreadsheet</a> (feel free to make your own copy and/or download: File...)</li>
	<li><a href="http://interact.sagemath.org/node/80" target="_blank">Sage interact</a></li>
	<li><a href="https://www.dropbox.com/s/7j5pbwcdgaeo9fy/Group_Form.pdf" target="_blank">Group Form</a></li>
	<li><a href="https://www.dropbox.com/s/dbow4qanow8a21e/Individual_Form.pdf" target="_blank">Individual Form</a></li>
	<li>A <a href="https://github.com/drvinceknight/Assigning_Fair_Individual_Marks_To_Group_Projects/tree/master/Shappy" target="_blank">github repository</a> with all source code (include a python library: <a href="https://github.com/drvinceknight/Assigning_Fair_Individual_Marks_To_Group_Projects/tree/master/Shappy" target="_blank">Shap.py</a>)</li>
</ul>

</p>


{% endblock %}
