{% extends "teaching/index.html" %}

{% block description %} Course site for MAT003 at Cardiff University: Computing for Mathematics. Python and Sage for mathematicians.  {% endblock %}

{% block title %}
VK: Computing for mathematics
{% endblock %}


{% block intro %}

<p>Computing for Mathematics: A course aiming to teach fundamental programming tools to mathematics students.</p>

{% endblock %}

{% block main %}

<p>The teaching resources (Lab sheets, handouts etc) can be found <a href="http://drvinceknight.github.io/Computing_for_mathematics/" target="_blank">here</a></p>

<p>A list of recommended reading books can be found <a href="http://drvinceknight.github.io/Computing_for_mathematics/alternativeresources.html" target="_blank"></a></p>

<p>The class wiki is <a href="https://docs.google.com/document/d/1oif-limb4tlKEVR_el_Md9OXK6WYyLwm_nGkFvY0KAA/edit" target="_blank">here</a></p>

<h3>Assessement</h3>

<p>The autumn semester assessment will be in two forms:

<ol>
    <li>A class test (Week 6: Friday 6th of November from 1400-1600)</li>
    <li>Individual coursework (Given out in Week 8)</li>
</ol>

</p>

<p>The solutions to the lab sheets:

<ol>
    <li><a href="https://www.dropbox.com/sh/gracekonw70f4by/kUUv2KCUfi" target="_blank">Sheet 1</a> </li>
    <li><a href="https://www.dropbox.com/sh/ujv247e5l8ssel9/9Gng2voLB6" target="_blank">Sheet 2</a> </li>
    <li><a href="https://www.dropbox.com/sh/3w6xtjlw88yjk93/6C0Cx4oS-r" target="_blank">Sheet 3</a> (Two videos on sorting algorithms: <a href="http://www.youtube.com/watch?v=ROalU379l3U" target="_blank">folk dance</a> and <a href="http://www.youtube.com/watch?v=kPRA0W1kECg" target="_blank"> 15 of them</a>) </li>
    <li><a href="https://www.dropbox.com/sh/ju2rx7f9n5r71r0/ACmAVs2Mmg" target="_blank">Sheet 4</a> (A video about using <a href="http://www.youtube.com/watch?v=VJTFfIqO4TU" target="_blank">Monte Carlo Simulation to estimate pi.</a>) </li>
    <li><a href="https://sage.maths.cf.ac.uk/home/pub/9/" target="_blank">Sheet 5</a> (A blog post about <a href="http://drvinceknight.blogspot.co.uk/2013/10/pigeon-holes-markov-chains-and-sagemath.html" target="_blank">pigeon holes</a> I wrote using Sage. HEALTH WARNING: this includes mathematics you have not encountered yet.) </li>
    <li><a href="https://sage.maths.cf.ac.uk/home/pub/12/" target="_blank">Sheet 6</a> (<a href="https://sage.maths.cf.ac.uk/home/pub/13/" target='_blank'>A Sage sheet with some code to plot complex numbers in the Argand plane</a>)</li>
    <li><a href="https://sage.maths.cf.ac.uk/home/pub/20/" target="_blank">Sheet 7</a> (<a href="http://preshing.com/20110926/high-resolution-mandelbrot-in-obfuscated-python/" target="_blank">Drawing the Mandlebrot fractal with some VERY UGLY and hard to understand Python code.</a> HEALTH WARNING: I don't even understand this code but it's very cool (my life is pretty boring).) </li>
    <li><a href="https://sage.maths.cf.ac.uk/home/pub/22/" target="_blank">Sheet 8</a> (<a href="http://interact.sagemath.org/top-rated-posts" target="_blank">A web site with with cool Sage 'interacts'</a>) </li>
    <li> There are no solutions for week 9 (the code is all there). Here is some stuff:
        <ul>
            <li><a href="http://www.youtube.com/watch?v=F4rFuIb1Ie4" target="_blank">A talk about Python</a> (the first 15 minutes are about Python and programming in Science: the rest is about a particular piece of software)</li>
            <li><a href="http://detexify.kirelabs.org/classify.html" target="_blank">Detexify,</a> I personally don't ever use this (I just google what I want) but it's quirky and might be helpful.</li>
            <li><a href="http://drvinceknight.blogspot.co.uk/2013/12/explaining-floats-in-latex.html" target='_blank'>A blog post about floating figures and table.</a></li>
            <li>Some cool mathematicians and/or computer scientists:
                <ul>
                    <li><a href="https://plus.google.com/115360165819500279592/posts" target='_blank'>William Stein</a> </li>
                    <li><a href="https://plus.google.com/+philipperoux/posts" target='_blank'>Philipe Roux</a> </li>
                    <li><a href="https://plus.google.com/115212051037621986145/posts" target='_blank'>Guido van Rossum</a> </li>
                    <li><a href="https://plus.google.com/114134834346472219368/posts" target='_blank'>Terence Tao</a> </li>
                    <li><a href="https://plus.google.com/+TimothyGowers0/posts" target='_blank'>Tim Gowers</a> </li>
                </ul>
            </li>
            <li><a href="http://mathprofessorquotes.tumblr.com/?og=1" target='_blank'>Funny tumblr is funny.</a></li>
        </ul>
    </li>
</ol>

<h3>Enterprise</h3>

<ul>
    <li><a href="https://www.dropbox.com/s/vb4qwgrpk5hzrwt/wk1settingupyoursme.pptx" target="_blank" >Setting up your SME</li>
    <li><a href="https://www.dropbox.com/s/c7aa31ze6tq0kmf/wk2yourideayourmarket.pptx" target="_blank" >Your Idea Your Market</li>
    <li><a href="https://www.dropbox.com/s/qu066xak2vx0vq0/wk2ideageneration.docx" target="_blank" >Idea Generation</li>
    <li><a href="https://www.dropbox.com/s/yhf181v333gzvra/wk2ideaposters.pptx" target="_blank" >Idea Posters</li>
</ul>

</p>


{% endblock %}
