{% extends "disqusempty.html" %}

{% block description %}{{content.description}}{% endblock %}

{% block keywords %}{{content.keywords}}{% endblock %}

{% block title %}
VK: {{content.course}} - {{content.title}}
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a class="current" href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p><a href="/teaching/{{course.slug}}">{{course.title}}</a> - {{content.title}}</p>
{% endblock %}

{% block main %}
{{content.content|safe}}
{% endblock %}

{% block disqusid %} "{{course.slug}}-{{content.slug}}"; {% endblock %}
