{% extends "disqusbase.html" %}

{% block description %}{{course.description}}{% endblock %}
{% block keywords %}{{course.keywords}}{% endblock %}

{% block title %}
VK: {{course.title}}
{% endblock %}

{% block intro %}
<p>{{course.title}}</p>
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a class="current" href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block main %}
{{course.description|safe}}
<p>
<ol>
{% for content in course.content_set.all %}
    <li>
    <a href='./{{content.slug}}'>{{content.title}}</a>
    </li>
{% endfor %}
</ol>
</p>

{% if course.readinglistitem_set.all %}
<p>
Here is the <a href='./readinglist'>reading list</a> for this course (ordered by relevance to course):
<ol>
{% for item in course.readinglistitem_set.all %}
    <li>
    <a href='{{item.url}}' target='_blank'>{{item.title}}</a> by {{item.author}}
    </li>
{% endfor %}
</ol>
</p>
{% endif %}

<font size="1">{{course.endnote|safe}}</font>
{% endblock %}

{% block disqusid %} "{{course.slug}}"; {% endblock %}
