{% extends "base.html" %}

{% block title %}
VK: Teaching
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a class="current" href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}

<p>This is my teaching site.</p>

{% endblock %}

{% block main %}

<p>Here is a full list of the courses I have taught, will teach and/or am currently teaching:</p>

<ul>
    {% for course in all_course_list  %}
        <li><a href="{{course.url}}", target="_blank">{{ course.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
