{% extends "base.html" %}

{% block description %}This site contains information regarding the teaching of Dr Vincent Knight. {% endblock %}

{% block keywords %} Pedagogy, PCUTL, Programming, Teaching, Learning, Flipped Classrooms, IBL, Student centred learning {% endblock %}

{% block title %}
VK: Teaching
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a class="current" href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}

<p>This site has a lot of information regarding my teaching.</p>

{% endblock %}

{% block main %}

<p>My teaching philosophy is still developing but revolves around a student centred learning approach scaffolded through the use of technology. For more information about my teaching please take a look at my <a href="./PCUTL">PCUTL</a> page.</p>

<p>Here is a full list of the courses I have taught, will teach and/or am currently teaching:</p>

<ul>
    {% for course in all_course_list  %}
        <li><a href="{{course.url}}", target="_blank">{{ course.title }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
