{% extends "disqusbase.html" %}

{% block description %}{{course.description}}{% endblock %}
{% block keywords %}{{course.keywords}}{% endblock %}

{% block title %}
VK: {{course.title}} Reading list
{% endblock %}

{% block intro %}
<p>{{course.title}}</p>
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a class="current" href="/teaching/">Teaching</a></li>
			<li><a href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block main %}
<h3>Reading List</h3>
<p>
<ol>
{% for item in readinglist %}
    <li>
    <a href='{{item.url}}' target='_blank'>{{item.title}}</a> by {{item.author}}
    {% if item.description %}
        <p>{{item.description|safe}}</p>
    {% endif %}
    </li>
{% endfor %}
</ol>
</p>
{% endblock %}

{% block disqusid %} "{{course.slug}}-readinglist"; {% endblock %}
