{% extends "disqusbase.html" %}

{% block title %}
VK: {{paper.title}}
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a class="current" href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>These are my research pages with information about my interests, papers and grants. You are looking at the specific page for "{{paper.title}}".</p>
{% endblock %}

{% block main %}
<h2>"{{ paper.title }}"</h2>
    <p><em>{{paper.authors}}</em></p>
    <p><strong>Published in {{ paper.journal }} ({{ paper.pub_date }})</strong></p>

    <h3>Abstract:</h3>
    <p>{{ paper.abstract }}</p>

    {% if paper.paperurl %}
       <p><em> The paper can be found <a href={{paper.paperurl}} target="_blank">here</a> {% if paper.openaccess %} and is open access! {% else %} but is sadly behind a paywall (please email me if you would like a copy). {% endif %}</em></p>
    {% endif %}

{% endblock %}


{% block disqusid %} "paper_{{paper.id}}"; {% endblock %}
