{% extends "base.html" %}

{% block description %} This site contains information regarding the research of Dr Vincent Knight. {% endblock %}

{% block keywords %} Healthcare, Game Theory, Queueing Theory, Research, Papers, Publication, Grants {% endblock %}

{% block title %}
VK: Research
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a class="current" href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>These are my research pages with information about my interests, papers and grants.</p>
{% endblock %}

{% block main %}

<p>
My interests mainly lie in these three fields:
<ul>
    <li>Game Theory</li>
    <li>Queueing Theory</li>
    <li>Healthcare Modelling</li>
</ul>
</p>

<p>
My research is in the understanding and design of queueing systems, where individual behaviour is a factor. Recent changes in the UK health system have provided an excellent opportunity for the application of my theoretical developments that merge queueing theory and game theory. I also have interests in using simulation taking into account the behaviour of the agents being modelled.
</p>

<p>
My other research interests lie mainly in healthcare modelling and include:
<ul>
    <li>Optimisation of staffing levels in systems with time-variable demand.</li>
    <li>Location theory problems; aiming to locate healthcare facilities (mobile or fixed).</li>
    <li>General healthcare problems, with the possibility for strong theoretical approaches.</li>
</ul>
</p>

<p>I have worked closely with healthcare personnel and translated theory in to practice though modeling of different aspects of the healthcare system, such as emergency units, ambulance service and social care.</p>

<p>My publication list can be found <a href="./publicationlist.html">here</a></p>

{% endblock %}
