{% extends "base.html" %}

{% block title %}
VK: Reseach
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a class="current" href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>These are my research pages with information about my interests, papers and grants.</p>
{% endblock %}

{% block main %}

My research site.

{% endblock %}
