{% extends "base.html" %}

{% block description %}
This is the publication list of Dr. Vincent Knight.
{% endblock %}

{% block keywords %}
    {% for paper in paper_list  %}
        {{ paper.title }},{{ paper.keywords }},
    {% endfor %}
{% endblock %}

{% block title %}
VK: Publication list
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a class="current" href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>These are my research pages with information about my interests, papers and grants.</p>
{% endblock %}

{% block main %}

<h2>List of publications</h2>

<p>Here is a list of all my papers (click on the title to see the abstract and any other material): </p>

<ol reversed>
    {% for paper in paper_list  %}
        {% if paper.paperurl %}
            <li> <a href="/research/{{ paper.id }}">{{ paper.title }}</a>  in <a href="{{paper.paperurl}}", target="_blank"> {{paper.journal}} {% if paper.openaccess %} (Open access) {% endif %} </a></li>
        {% else %}
            <li>  {{paper.title}} in {{paper.journal}} {% if paper.openaccess %} (Open access) {% endif %} </li>
        {% endif %}
    {% endfor %}
</ol>

{% endblock %}
