{% extends "base.html" %}

{% block description %}
{{category}} research students past and present.
{% endblock %}

{% block keywords %}
    {% for student in currentstudents %}
        {{ student.projecttitle }},{{ student.keywords }},
    {% endfor %}
    {% for student in paststudents %}
        {{ student.projecttitle }},{{ student.keywords }},
    {% endfor %}
{% endblock %}

{% block title %}
VK: {{category}} research students past and present.
{% endblock %}

{% block menu %}
			<li><a href="/">Home</a></li>
			<li><a href="/teaching/">Teaching</a></li>
			<li><a class="current" href="/research">Research</a></li>
			<li><a href="/outreach">Outreach</a></li>
			<li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}

{% block intro %}
<p>{{category}} research students past and present.</p>
{% endblock %}

{% block main %}

{% if currentstudents%}
<h3>Current {{category}} students</h3>

<p>
<ol>
{% for student in currentstudents %}
    <li><a href='/research/researchstudents/{{student.id}}'>{{student.studentname}} ({{student.category}}): {{student.projecttitle}}</a> (Start: {{student.startdate|date:"M Y"}})</li>
{% endfor %}
</ol>
</p>
{% endif %}

{% if paststudents%}
<h3>Past {{category}} students</h3>

<p>
<ol>
{% for student in paststudents %}
    <li><a href='/research/researchstudents/{{student.id}}'>{{student.studentname}} ({{student.category}}): {{student.projecttitle}}</a> (Finish: {{student.enddate|date:"Y"}})</li>
{% endfor %}
</ol>
</p>
{% endif %}

<p><a href='/research'>Back</a> to my research pages.</p>

{% endblock %}
