{% extends "base.html" %}
 
{% block title %}VK: 404{% endblock %}

{% block menu %}
    <li><a href="/">Home</a></li>
    <li><a href="/teaching/">Teaching</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/outreach">Outreach</a></li>
    <li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}
 
{% block intro %}
<p>This is the 404 page for <a href='/'> www.vincent-knight.com</a>. The particular page you were looking for could not be found. Return to the homepage and/or get in touch with me please.</p>
{% endblock %}

{% block main %}
<p>Sorry, but the requested page could not be found.</p>
{% endblock %}
