{% extends "base.html" %}
 
{% block title %}VK: 500{% endblock %}

{% block menu %}
    <li><a href="/">Home</a></li>
    <li><a href="/teaching/">Teaching</a></li>
    <li><a href="/research">Research</a></li>
    <li><a href="/outreach">Outreach</a></li>
    <li><a href="/coolstuff">Cool Stuff</a></li>
{% endblock %}
 
{% block intro %}
<p>This is the 500 page for <a href='/'> www.vincent-knight.com</a>. Your request caused some sort of server server error. Return to the homepage and/or get in touch with me please.</p>
{% endblock %}

{% block main %}
<p>Sorry, but the server encountered an error.</p>
{% endblock %}
