{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<link rel="shortcut icon" href="{% static '/favicon.png' %}" type="image/png">
<link rel="icon" href="{% static '/favicon.png' %}" type="image/png">


<head>
    <meta name="author" content="www.vincent-knight.com" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="description" content={% block description %} "Personal webpage of Dr Vincent Knight. Mathematician at Cardiff University." {% endblock %}>
    <meta name="keywords" content="Mathematics, Math, Maths, Cardiff, Game Theory, Queueing Theory, Queuing Theory, Operational Research, Operations Research, OR, Python, Sage, MathEd, Google Plus, {% block keywords %} {% endblock %}">
    <title>{% block title %} Vince Knight {% endblock %}</title>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38016329-3', 'vincent-knight.com');
  ga('send', 'pageview');

</script>

</head>
<body>
    <div id="content">
        <h1><span class="hr">Vince Knight</h1>
        <ul id="top">
        {% block menu %}
            <li><a class="current" href="#">Home</a></li>
            <li><a href="/teaching/">Teaching</a></li>
            <li><a href="/research">Research</a></li>
            <li><a href="/outreach">Outreach</a></li>
            <li><a href="/coolstuff">Cool Stuff</a></li>
        {% endblock %}
        </ul>

        <div id="intro">
        {% block intro %}
            <p>I am a lecturer in Operational Research at Cardiff University with research interests in Game theory and Queueing theory applied to healthcare systems.</p>
        {% endblock %}
        </div>

        <h2><strong>This site is in production if you can't find what you're looking for please go to: <a target= '_blank' href='https://sites.google.com/site/vincentknight/'>https://sites.google.com/site/vincentknight/</a></strong></h2>
        <br></br>

        <div id="main">
        {% block main %}




        {% endblock %}

        <h3>Discussion board </h3>
        <p>(I am experimenting with a discussion board powered by <a href='http://disqus.com/' target='_blank'>Disqus</a>. You should be able to login with an account on a service you probably already use like Google, twitter etc...)</p>
        <br>

         <div id="disqus_thread"></div>
            <script type="text/javascript">
                var disqus_shortname = 'vincent-knight';
                var disqus_identifier = {% block disqusid %}  {% endblock %}

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>

        <div id="left">
            {% block sidebar %}
            <h3>Contact me</h3>
            <ul>
                <li><a href="https://plus.google.com/+VincentKnight/posts", target="_blank">G+: +Vincent Knight</a></li>
                <li><a href="http://www.youtube.com/user/DrVinceKnight/", target="_blank">YouTube: +Vincent Knight</a></li>
                <li><a href="https://github.com/drvinceknight", target="_blank">Github: drvinceknight</a></li>
                <li><a href="http://drvinceknight.blogspot.co.uk/", target="_blank">My blog: Un peu de math</a></li>
                <li><a href="https://twitter.com/drvinceknight", target="_blank">Twitter: @drvinceknight</a></li>
                <li><a href="mailto:knightva@cf.ac.uk", target="_blank">email: knightva@cf.ac.uk</a></li>
            </ul>
            <br /><br />

            {% if latest_commits %}
                <h3>Latest Commits:</h3>
                    <ul>
                    {% for commit in latest_commits %}
                        <li><em>{{ commit }}</li>
                    {% endfor %}
                    </ul>
            {% endif %}
        {% endblock %}
        </div>




        <div id="footer">
            {% block footer %}
            <p>Design for this website by Vince Knight based on a design by: Luka Cvrk, <a title="Awsome Web Templates" href="http://www.solucija.com/">Solucija</a></p>
            {% endblock %}
        </div>
    </div>
</body>
</html>
